<h1>Active Locations</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% @locations.each do |location| %>
    <tbody>
      <tr>
        <td><%= link_to(location.loc_id, "broken") %></td>
        <td><%= location.lat %></td>
        <td><%= location.lon %></td>
      </tr>
    </tbody>
  <% end %>
</table>
